:root {
  color-scheme: light dark;
  --green: #00b755;
  --yellow: #daaf38;
  --red: #ca4754;
  --black: #222;
  --gray: #999;
}
body {
  background: var(--black);
  font-family: menlo, monospace;
  display: grid;
}
